.article {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.article h1 {
  text-align: center;
}

i {
  color: gold;
}

.upperContent {
  padding: 0;
  margin: 0;
  text-align: center;
}

.upperContent #shop {
  font-weight: bold;
  font-size: 3rem;
}

.preload {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload .emoji {
  font-size: 5rem;
}

.cards {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2.5vh;
}

.cards .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  max-width: 400px;
  max-height: 800px;
}

.cards .card:hover {
  color: blueviolet;

  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.cards .card .product {
  max-width: 400px;
  height: 450px;
}

.cards .card .product:hover {
  cursor: pointer;
}

.cards .card .product img {
  width: 100%;
  height: 100%;
}

.cards .card .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.cards .card .options .bag {
  height: 2vh;
}

.cards .card .options .bag:hover {
  cursor: pointer;
}

.cards .card .options .zoom {
  height: 3vh;
}

.cards .card .options .zoom:hover {
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  background-color: white;
  width: 100%;
  text-align: center;
}

.name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 1.2rem;
  padding: 0 10px 0 10px;
}

.category {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.rating {
  font-size: 1rem;
}

.functions {
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
}

.functions button {
  font-size: 1.5rem;
  margin-top: 10px;
  height: 2.5rem;
  background-color: white;
  border-style: solid;
}

.functions a {
  flex: 1;
}
.functions button:hover {
  background-color: #2af598;
  color: white;
}

#view {
  border-bottom-left-radius: 1rem;
  width: 100%;
}

#buy {
  flex: 1;
  border-bottom-right-radius: 1rem;
}

#cardsContainer {
  display: flex;
  background-color: lightblue;
}

#cardsContainer h1 {
  text-align: center;
}

#editSection {
  flex: 1;
  display: flex;
}

#edit {
  height: 70vh;
  width: 45vw;
  border-style: solid;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.field {
  display: flex;
  justify-content: space-between;
}

.field label {
  margin-left: 0.75rem;
}

.field input {
  font-size: 1.25rem;
  width: 70%;
  margin-right: 1rem;
}

.field textarea {
  font-size: 1.25rem;
  width: 70%;
  max-width: 70%;
  min-height: 4rem;
  max-height: 6rem;
  min-width: 60%;
  margin-right: 1rem;
}

.formElement p {
  color: red;
  margin-left: 0.75rem;
  font-size: 1.25rem;
}

#edit h3 {
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#editTitle {
  flex: 1;
  display: flex;
  align-items: center;
}

#editTitle h1 {
  flex: 9;
}

#close {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

#close:hover {
  cursor: pointer;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirm {
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2.5rem;
  background-color: lightblue;
}

.confirm p {
  font-size: 2rem;
  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  height: 5rem;
  font-size: 2rem;
  width: 7.5rem;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  border-radius: 1rem;
}

#submit {
  align-self: center;
  width: 15rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

@media all and (max-width: 1000px) {
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field label {
    align-self: flex-start;
  }

  .field input {
    width: 90%;
  }

  #description {
    min-width: 90%;
  }

  #editTitle {
    font-size: smaller;
  }

  .confirm p {
    text-align: center;
    font-size: 1.5rem;
  }

  .confirm button {
    width: 6rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 550px) {
  .article .upperContent {
    display: none;
  }

  .article .singleCard .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .article .singleCard .card .product {
    min-width: 80vw;
    max-width: 80vw;
    background-color: white;
    border-radius: 10px;
  }

  .article .singleCard .card .product img {
    min-width: 60%;
    min-height: 55%;
  }

  .article .singleCard .card .details {
    font-size: 1rem;
    background-color: white;
    margin: 10px 20px 20px 20px;
    padding: 20px;
    max-width: 80vw;
    border-radius: 10px;
  }

  .article .singleCard .card .details .name,
  .article .singleCard .card .details .price {
    font-size: 1.5rem;
  }

  .article .cards .card {
    margin: 10px 0 25px 10px;
    max-width: 50vw;
  }

  .article .cards .card .product {
    height: 300px;
    min-width: 50vw;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .article .cards .card .details {
    padding-top: 20px;
  }

  .article .cards .card .details .name,
  .article .cards .card .details .price {
    height: auto;
    font-size: 1.5rem;
  }

  .article .cards .card .product img {
    width: auto;
    max-width: 100%;
  }

  #edit {
    margin: 10px 10px 0 5px;
    height: auto;
  }

  #edit h3 {
    margin: 10px 0 10px 0;
    font-size: 1rem;
  }

  .field label {
    margin: 10px 0 10px 10px;

    font-size: 1rem;
  }

  .field textarea,
  .field input {
    font-size: 1rem;
    margin: 10px 0 10px 0;

    margin: auto;
  }

  #submit {
    margin: 10px 0 10px 0;
    width: 10rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  .confirm p {
    text-align: center;
    font-size: 1rem;
  }

  .confirm button {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
  }

  .confirm {
    height: 30vh;
    border-radius: 10px;
  }

  .functions button {
    font-size: 1rem;
  }
}
