#cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#items {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  background-color: white;
  width: 50vw;
  height: fit-content;
  max-height: 20vh;
  min-height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item img {
  max-width: 10rem;
  min-width: 10rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.finalDetails {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: space-between;
}

.finalTitle {
  font-size: 1.5rem;
  margin-left: 10px;
}

.finalPrice {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.modify {
  display: flex;
}

.add,
.remove {
  flex: 2;
  font-size: 1.5rem;
  height: 2.5rem;
  background-color: white;
  border-style: solid;
}

.number {
  flex: 1;
  text-align: center;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}

.modify button:hover {
  color: white;
  background-color: #2af598;
}

.priceDetails {
  border-style: solid;
  border-color: grey;
  border-radius: 20px;
  background-color: white;
  width: 35rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.priceDetails h4 {
  text-align: center;
  flex: 1;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.detailField {
  display: flex;
  flex: 2;
}

.detailField div {
  flex: 1;
  margin-left: 40px;
}

#emptyCart {
  height: 90vh;
  background: url("../images/index.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

#emptyCart h1 {
  background-color: rgba(255, 255, 255, 0.288);
  padding: 50px;
}

#trash {
  color: black;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

@media all and (max-width: 1000px) {
  #cart {
    flex-wrap: wrap;
  }

  .item {
    width: auto;
  }

  .finalTitle {
    font-size: 1rem;
    margin-left: 10px;
  }

  .finalPrice {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
  }

  .item img {
    max-width: 8rem;
    min-width: 8rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .add,
  .remove {
    flex: 2;
    font-size: 1rem;
    height: 2rem;
    background-color: white;
    border-style: solid;
  }

  .priceDetails {
    width: 15rem;
    max-height: 15rem;
    display: flex;
    flex-direction: column;
  }

  .priceDetails h4 {
    text-align: center;
    font-size: 1.2rem;
    flex: 1;
    border-bottom-style: solid;
    border-bottom-color: grey;
  }

  .detailField {
    display: flex;
    flex: 2;
    font-size: 1.2rem;
    align-items: center;
  }

  .detailField div {
    flex: 1;
    margin-left: 10px;
  }

  #emptyCart {
    height: 90vh;
    background: url("../images/index.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
