.footer {
  color: white;
  /* margin-top: auto; */
  background-color: hsl(233, 26%, 24%);
}
.footer .allOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer .allOptions .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
}

.footer .allOptions .options {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
}

.footer .allOptions .options ul {
  list-style: none;
  display: flex;
  gap: 2.5vw;
}

.footer .allOptions .logos img:hover {
  filter: invert(67%) sepia(23%) saturate(3718%) hue-rotate(72deg)
    brightness(99%) contrast(83%);
}

.footer .allOptions #credits p {
  font-size: 0.8rem;
}

@media all and (max-width: 550px) {
  .footer .allOptions {
    font-size: 1.5rem;
  }
}
