.container {
  background-color: white;
  display: flex;
  align-items: center;
}

.container img:hover {
  cursor: pointer;
}

.container #logo {
  flex: 1;
  align-self: center;
  max-width: 100px;
  height: auto;
}

.container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
}

.container li {
  display: inline;
  padding: 0 1vw 0 1vw;
  border-bottom-style: solid;
  border-bottom-color: white;
}

.container li:hover {
  cursor: pointer;
  color: lightblue;
}

.cart i {
  color: black;
  font-size: 2.5rem;
}

.cart i:hover {
  color: lightblue;
}

@media all and (max-width: 550px) {
  .container {
    justify-content: center;
    gap: 1rem;
  }

  .container ul {
    font-size: 1rem;
    gap: 1vw;
  }

  .container #logo {
    height: auto;
    max-width: 50px;
  }

  .container button {
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
  }

  .cart i {
    color: black;
    font-size: 1.5rem;
  }
}
