.singleProduct {
  display: flex;
  width: 100%;
  align-items: center;
}

.productImage {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage img {
  width: 60%;
  height: 80%;
  min-height: 325px;
  max-height: 650px;
  min-width: 500px;
}

.productDetails {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productName {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.productPrice {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.productDescription {
  margin-bottom: 1rem;
}

.productDetails button {
  align-self: center;
}

.back i {
  margin-left: 5%;
  color: black;
  font-size: 4rem;
}

.back i:hover {
  cursor: pointer;
}

#singleBuy {
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 10px;
  background-color: white;
  border-style: solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#singleBuy:hover {
  background-color: #2af598;
  color: white;
}
