* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartPopup {
  text-align: center;
  color: white;
  background-color: rgb(207, 43, 43);
  font-size: 2rem;
  position: fixed;
  top: 5%;
  left: 60%;
  padding: 1rem;
  border-radius: 10px;
}

@media all and (max-width: 550px) {
  body {
    font-size: smaller;
  }

  .cartPopup {
    text-align: center;
    color: white;
    background-color: rgb(207, 43, 43);
    font-size: 0.8rem;
    position: fixed;
    top: 90%;
    left: 55%;
    padding: 0.5rem;
    border-radius: 10px;
  }
}
